/** FOOTER
===================================*/

#footer{
	background: $primary-color;
	color: white;
	padding: 30px 0 60px;
}

.foot-left, .foot-right{
	@include make-md-column(6);
}

.foot-left{
	margin-bottom: 30px;
	@media screen and (min-width: 42em){
		margin-bottom: 0;
	}
}
.nav-foot{
	margin-bottom: 28px;
	ul{
		li{
			@include inline-block();
			padding-right: 10px;
			padding-left: 10px;
			border-left: 1px solid white;
			margin-bottom: 8px;
			
			&:first-child{
				padding-left: 0;
				border-left: none;
			}
			@media screen and (min-width: 40em){
				&:nth-child(even){
					padding-right: 0;
					padding-left: 0;
				}
				width: 48%;
				border: none;
				margin-bottom: 0;
			}
			

			a{
				color: white;
				font-weight: 300;
				&:hover, &:active, &:focus{
					color: $green-color;
				}
			}
		}
	}
}

.copyright{
	font-size: 0.85em;
}

.foot-right{
	.content-text{
		font-size: 0.85em;
		margin-bottom: 30px;
	}
}