body{
	background:$body-bg;
	font:($font-size - 1) $primary-font;
	@media screen and (min-width: 48em){
		font-size: $font-size;
	}
	line-height: 1.5em;
	color:$text-color;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

a{
	color: $primary-color;
	@include prefixed(transition, all 0.3s linear);
	&:hover{
		text-decoration: none;
	}
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


/*====== BUTTON ======*/
.btn-intro{
	bakground: none;
	color: none;
	@include border-radius(50px);
	color: white;
	background: rgba(#000000, 0.3);
	font-size: 18px;
	border: 1px solid white;
	padding: 11px 8px 13px 33px;

	&:after{
		color: white;
		@include border-radius(50%); 
		background: rgba($primary-color, 0.7);
		padding: 10px 8px 10px 12px;
		margin-left: 20px;
		font-size: 0.8em;
	}

	&:hover{
		background: rgba($primary-color, 0.7);
		color: white;
		border: 1px solid $primary-color;

		&:after{
			background: white;
			color: $primary-color;
		}
	}

	 &:hover, &:active, &:focus{
     	color: white;
     }

}

.btn-green{
	background: none;
	color: none;
	@include inline-block();
	background: $green-color image-url("arrow.png") 91% 50% no-repeat;
	background-size: 23px 20px;
	font-size: 18px;
	@include border-radius(50px);
	@include prefixed(transition, all .3s ease-in);
    color: white;
    padding: 8px 55px 12px 30px;
    text-align: center;

     &:hover, &:active, &:focus{
     	color: white;
     }

    &:hover{
    	@include box-shadow(0 1px 3px 0 tint(#000000,44%));
    	color: white;
    	background-color: lighten($green-color, 3%);
    	background-position: 93% 50%;
    }
}

.btn-blue{
	@extend .btn-green;
	background: $primary-color image-url("arrow.png") 91% 50% no-repeat;
	background-size: 23px 20px;

	&:hover{
		background-color: lighten($primary-color, 3%);
	}
}






