/** HEADER
===================================*/
#header{
	padding: 20px 0;
}
#logo{
	@include make-md-column(4);
	.logowrap{
		max-width: 90px;
	}
}

#nav{
	display: none;
	@media screen and (min-width: 35em){
		display: block;
	}

	@include make-md-column(8);
	text-align: center;
	padding: 7px 0 0;
	margin-top: 25px;
	
	@media screen and (min-width: 62em){
		text-align: right;
		margin-top: 0;
	}
	ul{
		> li{
			@include inline-block();
			margin-left: 15px;
			font-size: 0.9em;

			a{
				color: $primary-color;

				&:hover, &:active, &:focus{
					color: $green-color;
				}
			}
		}

		ul, li{
			text-align: left;
		}
	}


}

