/** getskype__desc
===================================*/

.getskype{
	padding: 48px 0;
}

.getskype__desc{
	@include make-md-column(6);
}
.skypedown{
	@include make-md-column(6);
	text-align: center;

	@media screen and (min-width: 62em){
		padding-left: 70px;
	}
}

.skypedown{
	h3{
		font-size: 20px;
		font-weight: 300;
	}

	.content-text{
		margin-bottom: 25px;
	}
}

.getskype__desc{
	line-height: 1.6em;
	margin-bottom: 25px;
	@media screen and (min-width: 62em){
		margin-bottom: 0;
	}
	@media screen and (min-width: 42em){
		font-size: 20px;
	}
}
.skypedown__icon{
	li{
		@include inline-block();
		background: $primary-color;
		color: white;
		@include border-radius(50%);
		text-align: center;
		padding: 18px 19px;
		margin-right: 12px;

		&:last-child{
			margin-right: 0;
		}

		span{
			font-size: 27px;
		}
	}
}

/** MOMENTS
===================================*/

.moments__tweet{
	background: black;
	text-align: center;
	padding: 18px 0;
	color: white;
	span{
		font-size: 30px;
		font-weight: 300;
	}

}

.moments-intro{
	background: black image-url("intro_middle.jpg") 0 0 no-repeat;
	@include min-height(420px);
}

.moment_art{
	width: 95%;
	color: white;
	margin-top: 4%;

	@media screen and (min-width: 48em){
		max-width: 500px;
	}

	h2{
		margin: 0;
		margin-bottom: 18px;
		font-size: 32px;
		font-weight: 300;
	}
	.content-text{
		font-weight: 300;
		margin-bottom: 25px;
	}
}

.moments-detail
{
	background: $dark-color;
	color: white;
	padding: 30px 0;
}

.moment-guide{
	@include make-row();
	margin-bottom: 50px;
	ul{
		li{
			@include make-md-column(4);
			margin-bottom: 25px;
			@media screen and (min-width: 62em){
				margin-bottom: 0;
			}
		}
	}
}

.moment-step{
	margin-bottom: 30px;
	@media screen and (min-width: 48em){
		margin-bottom: 0;
	}
	.step{
		color: #a5a5a5;
		text-transform: uppercase;
		display: block;
		font-weight: 300;
	}

	h3{
		margin: 0;
		font-size: 22px;
		margin-bottom: 23px;
		font-weight: 300;
	}

	.content-text{

	}
}

.moment-start{
	text-align: center;
	h5{
		margin: 0;
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.btn-green{
		margin-bottom: 20px;
	}
	.rules{
		li{
			@include inline-block();
			border-right: 2px solid white;

			&:last-child{
				border-right: none;
			}

			a{
				color: white;
				float: left;
				padding:0 18px;
				line-height: 1em;
				font-size: 0.9em;
				&:hover, &:active, &:focus{
					color: $green-color;
				}
			}
		}
	}
}


/** useskype
===================================*/
.useskype{
	padding: 42px 0;
}

.skype-oview{
	@include make-sm-column(4);
	@include make-md-column(6);
}

.skypefree{
	@include make-sm-column(8);
	@include make-md-column(6);
}

.skype-oview{
	text-align: center;
	margin-bottom: 25px;
	
	figure{
		max-width: 460px;
		margin: 0 auto 25px;	
	}

	.caption{
		font-size: 0.9em;
	}
}


.skypefree{
	font-weight: 300;
	h2{
		font-size: 32px;
		font-weight: 300;
		margin: 0;
		margin-bottom: 20px;
		line-height: 1.3em;

	}

	.content-text{
		font-weight: 300;
	}
}

.list-circlewhite{
	display: table;
	width: 100%;
	margin-bottom: 25px;
	.table{
		td{
			border: none;
			padding: 2px 3px 2px 0 ;

			@media screen and (max-width: 38em){
				width: 100%;
				display: block;
			}

			span{
				&:before{
					content: 'o';
					color: black;
					margin-right: 10px;
				}
			}
		}
	}
	/*ul, li{
		list-style: circle !important;
		margin-left: 20px;
	}

	ul{
		li{
			@include inline-block();
		}
	}*/
}

.btn-wrap{
	text-align: center;
	@media screen and (min-width: 61em){
		text-align: left;
	}
}
