/** INTRO
===================================*/
#intro{
	background: image-url("intro.jpg") 0 0 no-repeat;
	@media screen and (min-width: 42em){
		@include min-height(560px);
	}
	
	overflow: hidden;
	color: white;
	text-align: center;	
	position: relative;
	z-index: 1;

	&:before, &:after{
		content: '';
		display: table;

	}
	&:after{
		clear: both;
	}

	&:before{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		@include square(100%);
		background: rgba(#000000, 0.4);
	}
}

.intro-article{
	position: relative;
	z-index: 3;
	max-width: 700px;
	margin: 10% auto 40px auto;
}
.intro-blue{
	margin-top: 30px;
	@media screen and (min-width: 42em){
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
	}
	
	padding: 20px 0;
	background: rgba($primary-color, 0.5);
	width: 100%;

	h2{
		font-size: 29px;
		margin: 0;
		line-height: 1.2em;
		font-weight: 300;

		@media screen and (min-width: 42em){
			font-size: 35px;
		}
	}
}

.intro__title{
	font-size: 35px;
	@media screen and (min-width: 42em){
		font-size: 54px;
	}
  	margin: 0 0 55px;
	margin-bottom: 40px;
	line-height: 1.1em;
	font-weight: 300;
}

