{{#is filename 'index.html'}} 
	{{> intro}}
{{/is}} 

<div id="main" role="main" >
	<div class="getskype">
		{{#getskype}}
		<div class="container">
			<div class="getskype__desc">
				{{ desc }}
			</div>

			<div class="skypedown">
				<ul class="skypedown__icon">
					<li><span icon-data="flaticon-camera21"></span></li>
					<li><span icon-data="flaticon-telephone5"></span></li>
					<li><span icon-data="flaticon-speech90"></span></li>
				</ul>
				<h3>{{ downtitle }}</h3>
				<div class="content-text">
					<p>{{ downdesc }}</p>
				</div>
				<div class="btn-wrap">
					<a href="#" class="btn-green">{{ button }}</a>
				</div>
			</div>
		</div>
		{{/getskype}}
	</div><!-- //getskype -->

	<section class="moments">	
		<div class="moments__tweet"><span class="iconlf" icon-data="flaticon-twitter1">#MomentSkype<span></div>
			{{#moment}}
				<div class="moments-intro">
					<div class="container">
						<header class="moments__head">{{ moments }}</header>
						<article class="moment_art">
							<h2>{{ subtitle }}</h2>
							<div class="content-text">
								<p>{{ textintro }}</p>
							</div>
							<div class="btn-wrap">
								<a href="#" class="btn-blue">{{ btnintro }}</a>
							</div>
						</article>
					</div>
				</div>

				<section class="moments-detail">
					<div class="container">
						<div class="moment-guide">
							<ul>
								{{~#guider}}
								<li class="moment-step">
									<span class="step">{{ step }}</span>
									<h3>{{ title }}</h3>
									<div class="content-text">
										<p>{{{ desc }}}</p>
									</div>
								</li>
								{{~/guider}}
							</ul>
						</div>

						<div class="moment-start">
							<h5>{{ text }}</h5>
							<div class="text-center">
								<a href="#" class="btn-green">Mulai di sini</a>
							</div>
							<ul class="rules">
								{{~#rule}}
									<li><a href="#">{{.}}</a></li>
								{{~/rule}}
							</ul>
						</div>
					</div>
				</section><!-- // moments-detail -->
			{{/moment}}
	</section><!-- //moments -->

	<section class="useskype">
		<div class="container">
			<div class="row">
				{{#download}}
					<article class="skype-oview">
						<figure><img src="assets/img/devices.jpg" alt=""></figure>
						<div class="caption">
							<p>{{ caption }}</p>
						</div>
						<div class=""></div>
					</article><!-- //   skype-oview -->

					<div class="skypefree">
						<h2>{{ title}}</h2>
						<div class="content-text">
							<p>{{ desc }}</p>
						</div>
						<div class="list-circlewhite">
							<table class="table">
								<tr>
									<td><span>Video call</span></td>
									<td><span>Voice call</span></td>
									<td><span>Text Message</span></td>
								</tr>
								<tr>
									<td><span>Group Video cal</span></td>
									<td><span>Screen sharing</span></td>
									<td><span>File Sharing</span></td>
								</tr>
								<tr>
									<td><span>Group Voice call</span></td>
									<td><span>File/picture sending</span></td>
									<td><span>Video messaging</span></td>
								</tr>
							</table>	
						</div>
						<div class="btn-wrap">
							<a href="#" class="btn-green">Donwload sekarang</a>
						</div>
					</div><!-- // skypefree -->
				</div>
			{{/download}}
		</div>
	</section> <!-- // useskype -->
</div> <!-- //MAIN -->
  