<footer id="footer">
	<div class="container">
		<div class="row">
			{{#footer}}
				<div class="foot-left">
					<div class="nav-foot">
						<ul>
							{{~#about}}
							<li><a href="#">{{.}}</a></li>
							{{~/about}}
						</ul>
					</div>

					<div class="copyright">
						{{{ copyright }}}
					</div>
				</div><!-- //footeleft -->
				<div class="foot-right">
					<div class="content-text">
						<p>{{ notes }}</p>
					</div>
					<figure class="microsoft"><img src="assets/img/microsoft.png" alt=""></figure>
				</div><!-- footright -->
			{{/footer}}
		</div>
	</div>
</footer> <!-- //FOOTER -->
