  <header id="header">
  		<div class="container">
	  		<div id="logo">
	  			<figure class="logowrap"><a href="#"><img src="{{ assetsimg }}/{{ logo }}"></a></figure>
	  		</div>

	  		<nav id="nav">
	  			<ul>
	  				{{~#menu }}
	  					<li><a href="#">{{ . }}</a></li>
	  				{{~/menu}}
	  			</ul>
	  		</nav><!-- //nav -->
  		</div>
  </header> <!-- HEADER -->
