<section id="intro">
	{{#intro}}
	<div class="intro-article">
		<h1 class="intro__title">
			{{{title}}}
		</h1>
		<a href="#" class="btn-intro" icon-data="flaticon-play106">{{ button }}</a>
	</div>
	<div class="intro-blue">
			<div class="container">
				<h2>{{ desc }}</h2>
			</div>
		</div>
	{{/intro}}
</section><!-- //intro -->